main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.c-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background: var(--dark-blue-300);
    margin-top: 5%;
    border: 1px solid var(--dark-blue-100);
    border-radius: 1rem;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.70);
}

.c-title {
    position: absolute;
    transform: translate(50%, 50%);
    font-size: 100%;
    font-family: var(--pressStart);
    color: var(--dark-blue-100);
    text-shadow: 0px 2px 6px #609ED488;
}

.c-logo {
    width: 45%;
}

.c-titulo-start {
    font-family: var(--pressStart);
    color: var(--light-blue-200);
    /* margin-top: 10px; */
    font-size: 18px;
}

.c-input-name {
    width: 70%;
    color: var(--dark-blue-400);
    font-family: var(--pressStart);
    font-size: 14px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 8px 0 8px 0;
}

c-input-name::placeholder {
    color: var(--dark-blue-400);
    font-family: var(--pressStart);
}

.c-btn-play {
    width: 70%;
    /*max-height: 40%; */
    font-family: var(--pressStart);
    font-size: 14px;
    margin: 10px;
    padding: 8px 0px 8px 0px;
    background: var(--dark-blue-200);
    color: var(--light-blue-100);
    border-radius: 10px;
    border: 1px solid var(--dark-blue-100);
    cursor: pointer;
}

.c-btn-play:hover {
    background: var(--dark-blue-400);
    color: var(--light-blue-100);
}