:root {
    /* colors */
    --dark-blue-300: #0A3871;
    --dark-blue-100: #609ED4;
    --dark-blue-400: #072654;
    --dark-blue-500: #03122f;
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --gray-400: #495057;
    --gray-500: #343A40;

    /* fonts */
    --roboto: 'Roboto', sans-serif;
    --shareTech: 'Share Tech Mono', monospace;
    --pressStart: 'Press Start 2P', cursive;
}

body {
    background: var(--dark-blue-500);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
