:root {
    /* colors */
    --dark-blue-100: #609ED4;
    --light-blue-200: #EFF1FA;
    --blue: #0960BD;
    --blue-dark: #0081C9;
    --blue-dark1: #5BC0F8;
    --blue-light: #86E5FF;
    --yellow: #FFC93C;
    --blue2: #4e8ad9;
    --blue3: #5b9ed9;
    --blue4: #F3F5FC;
    --orange: #d9763d;
    --salmon: #F2D8CD;
    --blue-dark2: #011F3F;
    --blue-dark3: #0960BD;
    --blue-light1: #429FFD;

    /* fonts */
    --roboto: 'Roboto', sans-serif;
    --shareTech: 'Share Tech Mono', monospace;
    --pressStart: 'Press Start 2P', cursive;
}

body {
    background: var(--blue);
}

