:root {
    /* colors */
    --dark-blue-300: #0A3871;
    --dark-blue-100: #609ED4;
    --dark-blue-400: #072654;
    --dark-blue-500: #03122f;
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --gray-400: #495057;
    --gray-500: #343A40;

    /* fonts */
    --roboto: 'Roboto', sans-serif;
    --shareTech: 'Share Tech Mono', monospace;
    --pressStart: 'Press Start 2P', cursive;
}

body {
    background: var(--dark-blue-500);
}

html, body {
    width: 100vw; /* Define a largura do HTML e do body para ocupar toda a largura da janela de visualização */
    height: 100vh; /* Define a altura do HTML e do body para ocupar toda a altura da janela de visualização */
    overflow: hidden;
  }

